/build/
.coverage
/dist/
/docs/_build/
/src/*.egg-info
*.pyc
.pytest_cache/
_scratch/
Session.vim
/.tox/
.idea
poetry.lock

!src/docx/templates/default.docx
test.py
cat.jpeg
*.docx
*.pdf
test_functionality